<!-- Navbar start -->
<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
        <a class="navbar-brand" href="#">
            <i class="fa fa-handshake-o fa-2x" aria-hidden="true"> </i>    <!-- Company Logo--> 
            <h3 class="logo-name">ConnectWithUs</h3></a> <!-- Company Name ( if it is span tag name should be dispay next to logo )--> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" 
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> <!-- Button only enable small device -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                  <i class="fa fa-home fa-1x" aria-hidden="true"> </i>                      
                 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                  <i class="fa fa-link fa-1x" aria-hidden="true"> </i>                                        
                </a>
            </li>
          </ul>
        </div>
      </nav> <!-- Navbar end -->

