<footer class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4">
            <h3> Contact us </h3>
            <p>Robert Jenifer Vilbert</p>
            <p>Kanyakumari</p>
        </div>
        <div class="col-sm-4">
            <h3> Contact us </h3> 
            <a  (click)="click()"> <i class="fa fa-linkedin social"></i></a> 
            <a href="#"> <i class="fa fa-google social"></i></a> 
            <a href="#"> <i class="fa fa-twitter social"></i></a> 
            <a href="#"> <i class="fa fa-facebook social"></i></a> 
        </div>
        <div class="col-sm-4">
                <i class="fa fa-handshake-o fa-5x logo" aria-hidden="true"> </i>    <!-- Company Logo--> 
            </div>
    </div>
</footer>