footer{
    padding: 3%;
    color: #fff;
    width: 100%;
    background-color: #5e4485;
}

.social{
    padding: 20px;
    font-size: 30px;
    color: #a59ebd;
}

.fa:hover {
    color: #fff;
  }

  .logo{
    color: #a59ebd;
  }